<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

</head>
<body>
    <div class="hero">
        <div class="navbar">
            <a href="/"><img src="images/All-In-Logo.jpeg" class="logo"></a>
            <ul>
                <li> <a href="/learning"> Learning</a></li>
                <li> <a href="/cheatsheet"> Cheatsheet</a></li>
                <li> <a href="#"> Add Stats</a></li>
            </ul>

        </div>
        <div class="content">
            <h1> Learning Table</h1>
            <p>This is your place to Learn more</p>
        </div>
    </div>
</body>
</html>